.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}
  .mat-card-title{
    font-size: 16px;
  }

  .main-div{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center{
    width: 50%;
    margin: 10px auto;
  }